* {
    shade1: #16191f;
    shade2: #1e222a;
    shade3: #262b35;
    shade4: #2d333f;
    shade5: #353c4a;
    shade6: #3c4454;
    shade7: #444d5f;
    shade8: #4c566a;
}

* {
    border:               			@shade2;
    border-alt:               		@shade3;
    background:                     @shade4;
    background-alt:                 @shade5;
    selected:               		@shade5;
    foreground:                     #eceff4;
    urgent:                         #bf616a;
}
